# Node modules
node_modules/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Environment variables
.env

# Firebase configurations (if not needed for version control)
firebase.json
.firebaserc

# Build outputs
dist/
build/

# IDE and editor settings
.vscode/
.idea/
.DS_Store

# OS specific files
Thumbs.db
Desktop.ini
